
/* Logo */


.logo{
    margin-top: 4%;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
    filter: drop-shadow(0 0 0.75rem rgb(190, 190, 190));
}

@media only screen and (max-width: 308px) {
    .logo{
       
        width: 100%;
    }
}
@media only screen and (max-width: 280px) {
    .logo{
       
        width: 80%;
    }
}

/* End Logo */

/* efforts */

.efforts-section 
{
  padding: 50px 0;
  margin-top: 5%;
  color: #130e43;
  /* border-bottom: 2px solid rgb(232, 232, 232); */

}
.efforts-section h1
{
 margin-bottom: 8rem;
 font-size: 38px;
}
.efforts-section h2 
{
  font-size: 36px;
  margin-bottom: 30px;
}
.efforts-section p 
{
  font-size: 18px;
  line-height: 1.5;
}
.efforts-section img 
{
  max-width: 100%;
  max-height: 100%;
  border-radius: 100px;
}
.border{
    border: none;
    border-radius: 12px;
   
}
@media only screen and (max-width: 767px) {
  .btnCard{
  
   
    width: 30%;
  
  }
 }
 @media only screen and (max-width: 1400px) {
   .card-text{
    font: 1.2em sans-serif;
   }
   }
   @media only screen and (max-width: 1200px) {
    .card-text{
     font: 1.1em sans-serif;
    }
    }
    @media only screen and (max-width: 760px) {
        .texEff{
        margin-top: 9%;
        }
        }
/* End efforts */

/* cardMain */
.main{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
   
}
.cardMain {
   
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}
.tex{
    display: grid;
    justify-content:space-evenly;
    gap: 50%;
}
.crd{
    display: grid;
    justify-content:space-evenly;
    
}
@media only screen and (max-width: 760px) {
    
    }
/*End cardMain */
/* Footer */
.lgFoo{
    display: flex;
    justify-content: flex-start;
   
}
.cont{
    display: flex;
    justify-content: center;
    margin-top: -7%;
}
.llg{
    filter: drop-shadow(0 0 0.75rem rgb(190, 190, 190));
margin-top: -20%;
}
@media only screen and (max-width: 1196px) {
    .cont{
        margin-top: 3%;
        display: grid;
        justify-content: center;
        gap: 5%;
        
    }
    .lgFoo{
        display: grid;
        justify-content: center;
        margin-top: 20%;
    }
}
